<div class="container text-center m-5">
    <div class="row">
        <div class="col">
            <h1>Menú</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary m-5" href="/componente1">componente 1</a>
        </div>
        <div class="col">
            <a class="btn btn-primary m-5" href="/componente2">componente 2</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary m-5" href="/componente3/1/10">Entre 1 y 10</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary m-5" href="/componente3/1/50">Entre 1 y 50</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary m-5" href="/componente3/1/100">Entre 1 y 100</a>
        </div>
        <div class="col">
            <a class="btn btn-primary m-5" href="/directivas">Nuevas directivas</a>
        </div>
        <div class="col">
            <a class="btn btn-primary m-5" href="/imc">IMC</a>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <router-outlet />
        </div>
    </div>
</div>